.slottedtable {
  width: 100%;
  border-collapse: collapse;
}

.slottedtable .st-header,
.slottedtable .st-body {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.slottedtable .st-row {
  display: table-row;
  background-color: white;
  color: black;
}

.slottedtable .st-cell {
  display: table-cell;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
}

.slottedtable .st-footer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
  margin-top: 1em;
  align-items: center;
}

.slottedtable .st-pageselector {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.slottedtable .st-pageselector .st-select {
  display: inline-block;
  background-color: white;
  color: black;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border-radius: 15px;
  font-size: 14px;
}

.slottedtable .st-pagebtns {
  display: flex;
  flex-direction: row;
}

.slottedtable .st-pagebtns button {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid gray;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border-radius: 5px;
  background-color: white;
}

.slottedtable .st-pagebtns .st-active {
  font-weight: bold;
  background-color: green;
  color: white;
}

.slottedtable .st-pointer {
  cursor: pointer;
}

.slottedtable .st-filtercontainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.slottedtable .st-filteractions {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 1em;
}

.slottedtable .st-activefilter {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0px;
}

.slottedtable .st-activefilter > button {
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
}

.slottedtable .st-searchbutton {
  margin-left: 5px;
}

.slottedtable .st-bulkactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 1em;
}

.slottedtable .st-select-all {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.slottedtable .w30 {
  width: 30px !important;
}
